/* Handy classes */
.inline div{
    display: inline-block;
}


/*  Things that affect everything */
* {
    /* Setting default fonts */
    font-family: Arial, Helvetica, sans-serif;

    /* Set default text colour */
    color: lightgray;
}


/* Base site effects */
html {
    background-color: rgb(51, 51, 51); /* Setting the background colour */
}


/* Header styling */
header h1{
    text-align: center;
    font-size: 75px;
    margin-bottom: 25px;
}


/* The people list decorations */
section.div-list-inline {
    text-align: center; /* Align the list of people to the center of the screen */
}
section.div-list-inline h3 {
    /* Set header size and spacing */
    font-size: 30px;
    margin-bottom: 10px;
}
section.div-list-inline div{
    /* Div borders and spacing */
    border: 5px gray solid;
    border-radius: 10px;
    margin: 0 5px;
}
section.div-list-inline div img {
    /* Image borders (separating from the text) and rounded corners */
    border-bottom: 5px gray solid;
    border-radius: 5px 5px 0 0;
}
section.div-list-inline div h4 {
    /* Setting the font size for the text and setting the spacing */
    font-size: 20px;
    margin: 0; padding: 5px;
}
section.div-list-inline a {
    text-decoration: none; /* Remove the underline for the links (it gets displayed in the wrong place) */
}

/* Settings for the two lists */
section#people-list img{
    height: 200px;
}
section#project-list img{
    height: 250px;
}